<section class="section education-section">
  <h2 class="section__title"> <%= data.title %> </h2>

  <ul class="education-section__entries">
    <% data.entries.forEach((entry) => { %>
      <li class="education-entry">
        <div class="education-entry__header">
          <h3 class="education-entry__title"> <%= entry.title %> </h3>
          <span class="education-entry__location"> <%= entry.location %> </span>
        </div>

        <ul class="education-section__subentries">
          <% entry.entries.forEach((subentry) => { %>
            <li class="education-subentry">
              <div class="education-subentry__title">
                <span> <%- subentry.title %> </span>

                <% if (subentry.description) { %>
                  <span> <%- subentry.timeframe %> </span>
                <% } %>
              </div>
              <% if (subentry.description) { %>
                <div class="education-subentry__description">
                  <%- subentry.description %>
                </div>
              <% } %>
            </li>
          <% }); %>
        </ul>
      </li>
    <% }); %>
  </ul>
</section>
