<footer class="footer">
  <div class="footer__container">
    <%- include('/components/interactive-logo.ejs', {className: "footer__logo"}); %>

    <div class="footer__cookie-note"> This website is cookie <strong> FREE </strong></div>

    <a class="footer__social-link footer__social-link--github" href="https://github.com/square-brackets" target="_blank" rel="noopener">
      <%- include('/svgs/logos/github.svg'); %>
      <span class="footer__social-link-text"> GitHub </span>
    </a>

    <a class="footer__social-link footer__social-link--twitter" href="https://twitter.com/SquareBrackets" target="_blank" rel="noopener">
      <%- include('/svgs/logos/twitter.svg'); %>
      <span class="footer__social-link-text"> Twitter </span>
    </a>

    <a class="footer__social-link footer__social-link--linkedin" href="https://www.linkedin.com/in/stjepan-petru%C5%A1a-9a6434102/" target="_blank" rel="noopener">
      <%- include('/svgs/logos/linkedin.svg'); %>
      <span class="footer__social-link-text"> LinkedIn </span>
    </a>

    <a class="footer__social-link footer__social-link--mail" href="mailto:stjepan.petrusa@gmail.com" target="_blank" rel="noopener">
      <%- include('/svgs/logos/mail.svg'); %>
      <span class="footer__social-link-text"> Mail </span>
    </a>
  </div>
</footer>
