<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brackets Web</title>
    <meta charset="utf-8"/>
    <meta name="description" content="Personal website for Stjepan Petrusa">
    <meta name="theme-color" content="#202020"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" type="image/svg+xml" href="/assets/favicon.svg">
    <link rel="mask-icon" href="/assets/favicon.svg" color="#FF4438">

    <link rel="manifest" href="/manifest.json"/>
    <link rel="stylesheet" href="<%= mainCSS %>">

    <script defer src="<%= mainJS %>" charset="utf-8"></script>
  </head>
  <body>
    <%- include('/components/header.ejs'); %>
    <%- include('/components/sections/hero.ejs'); %>
    <!-- <%- include('/components/main-hero-section.ejs'); %> -->
    <%- include('/components/sections/about.ejs'); %>
    <%- include('/components/sections/work-experience.ejs'); %>
    <%- include('/components/sections/education.ejs'); %>
    <%- include('/components/footer.ejs'); %>
  </body>
</html>
